@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  box-sizing: border-box;
}
html{
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}

button{
  cursor: pointer;
}

h1, h2, h3, p, ul{
  margin-top: 0;
  margin-bottom: 0;
}
